<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <p>Hola, si tienes un problema con los demas templates, asegurate de que
            el archivo.html, tenga las variables necesarias para poder trabajar con el, y que el controlador tenga el
            return del template correcto.
            <br> -Jorge <3 </p>
    </h1>

    <div class="tenor-gif-embed" data-postid="10586631440146974859" data-share-method="host"
        data-aspect-ratio="0.935743" data-width="20%"><a
            href="https://tenor.com/view/minion-minion-loves-loves-love-i-love-you-gif-10586631440146974859">Minion
            Minion
            Loves GIF</a>from <a href="https://tenor.com/search/minion-gifs">Minion GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>


</html>